@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500&display=swap");

body {
    overflow-x: hidden;
    background-color: #0b999e;
    font-family: "Source Sans Pro", sans-serif;
   }
   .container {
    margin: auto;
    background-color: #0b999e;
    padding: 30px;
    width: 800px;
    border-radius: 2%; 
   }
   ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
   }
   ul.slider{
       position: relative;
       width: 800px;
       height: 500px; 
       
   }
   ul.slider li{
       position: absolute;
       left: 0;
       top: 0;
       opacity: 0;
       width: inherit;
       height: inherit;
       background-color: #0b999e;
       transition: opacity .5s;
       
   }
   ul.slider li img{
       width: inherit;
       height: inherit;
       object-fit:scale-down;
       border-radius: 2%;
   }
   ul.slider li:first-child{
       opacity: 1;
       border-radius: 2%;
   }
    ul.slider li:target{
        opacity: 1;
        
    }
   .menu{
       text-align: center;
       margin: 20px 0;
   }
   .menu li{
       display: inline-block;
       text-align: center;
   }
   .menu li a{
       display: inline-block;
       color: #066669;
       text-decoration: none;
       background-color: #0b999e;
       padding: 10px;
       width: 20px;
       height: 20px;
       font-size: 20px;
       border-radius: 100%;
   }
.btn {
    width: 110px;
    height: 50px;
    background-color: var(-primary-color);
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.4s;
   }